<!DOCTYPE html>
<html>

<head>
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/nysl.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <title>NYSL App</title>
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/6.2.3/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/6.2.3/firebase-auth.js"></script>
    <script defer src="/__/firebase/6.2.3/firebase-database.js"></script>
    <script defer src="/__/firebase/6.2.3/firebase-messaging.js"></script>
    <script defer src="/__/firebase/6.2.3/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
</head>

<body>
    <!-- Parte Mobile -->
    <div id="app" class="background d-sm-block">
        <div class="home background-elements">
            <header class="fixed-top">
                <h4 class="text-center p-2">Game schedule</h4>
            </header>
            <div class="">
                <div v-for="(mes, index) in juegos" v-bind:id="mes['mes']" class="juego">
                    <ul class="list-group">
                        <li class="m-2" v-for="(partido, index2) in mes['partidos']">
                            <button v-bind:id="index" v-bind:value="index2" class="list-group-item border-dark d-flex text-center align-items-center w-100 btn-game" onclick="seleccionarPartido(this)">
                                <span class="flex-shrink text-center no-wrap">{{partido.horario}}</span>
                                <span class="w-100">{{ partido.equipos }}</span>
                                <div>
                                    <span class="flex-shrink text-center">{{ partido.dia }}/{{ partido.mes }}</span>
                                </div>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <footer class="fixed-bottom">
                <ul class="nav justify-content-around">
                    <li class="nav-item border border-white flex-fill text-center" v-for="value in juegos">
                        <button class="nav-link w-100" href="#" v-bind:id="value['mes']" onclick="mostrar(this)">
                            {{ value["mes"] }}
                        </button>
                    </li>
                </ul>
            </footer>
        </div>
        <div class="juego juegoSeleccionado">
            <div class="background-elements ">
                <div class="list-group-item border-dark btn-game">
                    <span></span>
                    <h3 class="text-center">{{ partidoSeleccionado.equipos }}</h3>
                    <ul>
                        <li class="d-flex justify-content-between px-2">
                            <span>Date:</span>
                            <span>{{ partidoSeleccionado.dia }}/{{ partidoSeleccionado.mes }} </span>
                        </li>
                        <li class="d-flex justify-content-between px-2">
                            <span>Time:</span><span>{{ partidoSeleccionado.horario }} </span>
                        </li>
                        <li class="d-flex justify-content-between px-2"><span>Ubication:</span><a v-bind:href="partidoSeleccionado['link']">{{partidoSeleccionado.ubicacion}}</a>
                        </li>
                    </ul>
                    <div class="mx-auto" style="width: 125px;">
                        <a v-bind:href="partidoSeleccionado.link" class="btn btn-primary btn-adress">Get
                            directions</a>
                    </div>
                </div>
                <footer class="fixed-bottom">
                    <ul class="nav justify-content-around">
                        <li class="nav-item border border-white flex-fill text-center">
                            <button class="nav-link w-100" href="#" id="volver">
                                Back
                            </button>
                        </li>
                    </ul>
                </footer>
            </div>
        </div>
        <script src="js/game.js"></script>
        <script src="js/main.js"></script>
</body>

</html>